<br />

<div class="frosty text-center col-xs-12">
  <h1><%= @course.title %></h1>
    <%= image_tag @course.image, :class => 'img-responsive' %>
  <br />
  <div class="text-center col-sm-4 col-xs-12">
    <h1><%= @course.description %></h1>
  </div>

  <div class="clear"></div>
  <div class="text-right col-sm-6 col-xs-12">
   	<span class="label label-default">
   		<h3><%= number_to_currency @course.cost %></h3>
  	</span>
  </div>

    <% if current_user && current_user == @course.user %>
        <br />
        <br />
        <%= link_to "Administer", instructor_course_path(@course), :class => 'btn btn-default btn-large' %>
    <% end %>

  <div class="col-xs-12">
    <% @course.sections.each do |section| %>
      <br /><br />
      <div class="section">
        <h3><%= section.title %></h3>
        <% section.lessons.each do |lesson| %>
          <div class="col-xs-12 col-sm-6">
            <div class="lesson text-center">
              <br />
              <%= link_to lesson_path(lesson) do %> 
                <b><%= lesson.title %></b>
                <br />
                <%= lesson.subtitle %>
            <% end %>
            </div>
          </div>
        <% end %>
        <br class="clr" />
      </div>
    <% end %>
  </div>
    


</div>